.table{
    margin: 0% auto;
    background-color: white;
}
.from{
    background-color: skyblue;
   

}
.div{
    background-color: skyblue;
    height: 650px;
}
.edit{
    width: 50px;
    height: 50px;
}
.name{
    width: 50px;
    height: 50px;
}